#container-stats {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60vh;
}

* {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: medium;
    color: #f93100;
    margin-top: 10px;
    margin-left: 20px;
}

h2 {
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #aab1b7;
}

#accueil {
    width: 15%; /* Partie cliquable de la barre de nav horizontale */
    background-color: #e9edf2;
}

#wrapper {
    display: flex;
    background-color: #e9edf2;
}

#wrapper .sidebar {
    width: 300px;
    height: 100%;
    background-color: #193d4a;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#start-date-label,
#end-date-label {
    color: #fff;
}

.sidebar img {
    width: 65%;
    padding: 20px;
}

.sidebar-2 {
    background-color: #f93100;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-2 ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar-3 {
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #e9edf2;
    min-height: 500px;
    min-width: calc(100% - 300px);
}

#dateForm {
    margin-top: 100px;
    margin-bottom: 100px;
}

#navbar {
    min-height: 50px;
    background-color: #193d4a;
}

#content {
    min-height: 100%;
    background-color: #193d4a;
    min-height: 120vh;
    padding-left: 50px;
    padding-right: 50px;
}

.fa-house {
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
    color: #e9edf2;
}

li {
    font-size: 15px;
    color: #e9edf2;
}

#contain-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff;
    margin-right: 8px;
    margin-left: 8px;
}

.card:hover {
    background-color: bisque;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icon {
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.count {
    text-align: right;
}

@media screen and (min-width: 1200px) {
    #content {
        padding-bottom: 50px;
    }
}
