@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

input[type='submit'] {
    color: #ffffff;
    background-color: #f93100;
    font-size: 19px;
    border: 1px solid #f93100;
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
}
input[type='submit']:hover,
#return:hover {
    color: #1c5e5f;
    background-color: #ffffff;
}

#return {
    color: #ffffff;
    background-color: #212121;
    font-size: 19px;
    border: 1px solid #212121;
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 100px;
    display: none;
}

#container-stats {
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
    height: 60vh;
}

.calendar {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: medium;
    color: #f93100;
    margin-top: 10px;
    margin-left: 20px;
}

h2 {
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #aab1b7;
}

#accueil {
    width: 15%; /* Partie cliquable de la barre de nav horizontale */
    background-color: #e9edf2;
}

#wrapper {
    display: flex;
    background-color: #e9edf2;
}

#wrapper .sidebar {
    width: 300px;
    height: 100%;
    background-color: #193d4a;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#start-date-label,
#end-date-label {
    color: #fff;
}

.sidebar img {
    width: 65%;
    padding: 20px;
}

.sidebar-2 {
    background-color: #f93100;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-2 ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar-3 {
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #e9edf2;
    min-height: 500px;
    min-width: calc(100% - 300px);
}

#navbar {
    min-height: 50px;
    background-color: #193d4a;
}

#content {
    min-height: 100%;
    background-color: #193d4a;
    min-height: 120vh;
    padding-left: 50px;
    padding-right: 50px;
}

.fa-house {
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
    color: #e9edf2;
}

li {
    font-size: 15px;
    color: #e9edf2;
}

#contain-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff;
    margin-right: 8px;
    margin-left: 8px;
}

.card:hover {
    background-color: bisque;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icon {
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.count {
    text-align: right;
}
